{% extends "::base.html.twig" %}

{% block title %}Mon profil{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
    '@MakeYourTeamBundle/Resources/public/css/perso/profile.css'
    filter= 'cssrewrite'%}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock %}

{% block body %}

    <h1>Mon profil</h1>
    <br/>
    <a href="{{ path('home') }}">Retourner à l'accueil</a>
    <a href="{{ path('fos_user_profile_edit') }}">Modifier mon profil</a>

    <br/>
    <div class="id_user">
        <p>{{ 'Nom d\'utilisateur'|trans }}: {{ user.username }}</p>
        <p>{{ 'Email'|trans }}: {{ user.email }}</p>
    </div>

    <div id="photo_profil">
        <img src="" alt="Photo non disponible"/>
    </div>

    <div id="mes_competences">
        <h3 class="mes_competences_titre">Mes Compétences</h3>&nbsp;&nbsp;&nbsp;&nbsp;<a class="mes_competences_edit" href="{{ path('fos_user_profile_edit_myusercompetences') }}">Modifier mes competences</a>
        {% if competences is not null %}
            <div class="competences_user">
                {% for user_competence in competences %}
                    <p class="competence_nom" >{{ user_competence.competence.nom }}</p>
                    <p class="competence_niveau">{{ user_competence.niveau|capitalize }}</p>
                    <br/>
                {% endfor %}
            </div>
        {% endif %}
    </div>

    <div id="ma_description">
        <h3>Ma Description</h3>
        <div>
            {{ user.description|raw }}
        </div>
    </div>
    <div id="mon_annonce">
        {% if annonce is not null %}
            <h3>Mon annonce</h3>
            {% for a in annonce %}
                <a href="{{ path('myt_annonce_show', {'slug': a.slug}) }}">{{ a.titre }}</a><a href="{{ path('annonce_edit', {'slug': a.slug}) }}" class="edit_annonce">Modifier</a>
                &nbsp;&nbsp;<a class="delete_annonce" href="{{ path('annonce_delete', {'id': a.id}) }}">Supprimer</a>
            {% endfor %}
        {% endif %}
    </div>

{% endblock %}