{% extends '::base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
    '@MakeYourTeamBundle/Resources/public/css/perso/form_style.css'
    filter= 'cssrewrite'%}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock %}

{% block body %}
    <a href="{{ path('home') }}">Retourner à l'accueil</a><br/><br/>
    <form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register">

        <div class="form-group form-field">
            <div class="col-sm-3">
                {{ form_label(form.email, 'Email', {'label_attr': {'class': 'control-label form-label'}}) }}
                {{ form_errors(form.email) }}
            </div>
            <div class="col-sm-4">
                {{ form_widget(form.email, {'attr': {'class': 'form-control', 'placeholder': 'Adresse email'}}) }}
            </div>
        </div>

        <div class="form-group form-field">
            <div class="col-sm-3">
                {{ form_label(form.username, 'Nom d\'utilisateur', {'label_attr': {'class': 'control-label form-label'}}) }}
                {{ form_errors(form.username) }}
            </div>
            <div class="col-sm-4">
                {{ form_widget(form.username, {'attr': {'class': 'form-control', 'placeholder': 'Nom d\'utilisateur'}}) }}
            </div>
        </div>

        <div class="form-group form-field">
            <div class="col-sm-3">
                {{ form_label(form.plainPassword.first, 'Mot de passe', {'label_attr': {'class': 'control-label form-label'}}) }}
                {{ form_errors(form.plainPassword.first) }}
            </div>
            <div class="col-sm-4">
                {{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control', 'placeholder': 'Mot de passe'}}) }}
            </div>
        </div>

        <div class="form-group form-field">
            <div class="col-sm-3">
                {{ form_label(form.plainPassword.second, 'Confirmez votre mot de passe', {'label_attr': {'class': 'control-label form-label'}}) }}
                {{ form_errors(form.plainPassword.second) }}
            </div>
            <div class="col-sm-4">
                {{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control', 'placeholder': 'Confirmez votre mot de passe'}}) }}
            </div>
        </div>

        <div class="form-group form-field">
            <div class="col-sm-3">
                {{ form_label(form.nom, 'Nom', {'label_attr': {'class': 'control-label form-label'}}) }}
                {{ form_errors(form.nom) }}
            </div>
            <div class="col-sm-4">
                {{ form_widget(form.nom, {'attr': {'class': 'form-control', 'placeholder': 'Votre nom'}}) }}
            </div>
        </div>

        <div class="form-group form-field">
            <div class="col-sm-3">
                {{ form_label(form.prenom, 'Prenom', {'label_attr': {'class': 'control-label form-label'}}) }}
                {{ form_errors(form.prenom) }}
            </div>
            <div class="col-sm-4">
                {{ form_widget(form.prenom, {'attr': {'class': 'form-control', 'placeholder': 'Votre prenom'}}) }}
            </div>
        </div>

        <div class="form-group form-field">
            <div class="col-sm-3">
            {{ form_label(form.age, 'Âge', {'label_attr': {'class': 'control-label form-label'}}) }}
                {{ form_errors(form.age) }}
            </div>
            <div class="col-sm-4">
                {{ form_widget(form.age, {'attr': {'class': 'form-control', 'placeholder': 'Votre age'}}) }}
            </div>
        </div>

        <div class="form-group form-field">
            <div class="col-sm-3">
                {{ form_label(form.myuser_competences, 'Compétence(s)', {'label_attr': {'class': 'control-label form-label'}}) }}
                {{ form_errors(form.myuser_competences) }}
            </div>
            <div class="col-sm-4">
                {{ form_widget(form.myuser_competences, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        <br/><br/><br/>

        {{ form_widget(form) }}
        <div>
            <input type="submit" value="{{ 'Valider'|trans }}" class="btn btn-primary" />
        </div>
    </form>

    <script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>

    {# Voici le script en question : #}
    <script type="text/javascript">
        $(document).ready(function() {
            // On récupère la balise <div> en question qui contient l'attribut « data-prototype » qui nous intéresse.
            var $container = $('div#fos_user_registration_form_myuser_competences');

            // On ajoute un lien pour ajouter une nouvelle catégorie
            var $lienAjout = $('<a href="#" id="ajout_competence" class="btn">Ajouter une compétence</a>');
            $container.append($lienAjout);

            // On ajoute un nouveau champ à chaque clic sur le lien d'ajout.
            $lienAjout.click(function(e) {
                ajouterCompetence($container);
                e.preventDefault(); // évite qu'un # apparaisse dans l'URL
                return false;
            });

            // On définit un compteur unique pour nommer les champs qu'on va ajouter dynamiquement
            var index = $container.find(':input').length;

            // On ajoute un premier champ directement s'il n'en existe pas déjà un (cas d'un nouvel article par exemple).
            if (index == 0) {
                ajouterCompetence($container);
            } else {
                // Pour chaque catégorie déjà existante, on ajoute un lien de suppression
                $container.children('div').each(function() {
                    ajouterLienSuppression($(this));
                });
            }

            // La fonction qui ajoute un formulaire Categorie
            function ajouterCompetence($container) {
                // Dans le contenu de l'attribut « data-prototype », on remplace :
                // - le texte "__name__label__" qu'il contient par le label du champ
                // - le texte "__name__" qu'il contient par le numéro du champ
                var $prototype = $($container.attr('data-prototype').replace(/__name__label__/g, 'Compétence n°' + (index+1))
                        .replace(/__name__/g, index));

                // On ajoute au prototype un lien pour pouvoir supprimer la catégorie
                ajouterLienSuppression($prototype);

                // On ajoute le prototype modifié à la fin de la balise <div>
                $container.append($prototype);

                // Enfin, on incrémente le compteur pour que le prochain ajout se fasse avec un autre numéro
                index++;
            }

            // La fonction qui ajoute un lien de suppression d'une Competence
            function ajouterLienSuppression($prototype) {
                // Création du lien
                $lienSuppression = $('<a href="#" class="btn btn-danger">Supprimer</a>');

                // Ajout du lien
                $prototype.append($lienSuppression);

                // Ajout du listener sur le clic du lien
                $lienSuppression.click(function(e) {
                    $prototype.remove();
                    e.preventDefault(); // évite qu'un # apparaisse dans l'URL
                    return false;
                });
            }
        });
    </script>
{% endblock %}