{% extends "::base.html.twig" %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <h1>Accueil</h1>

    {% if is_granted("IS_AUTHENTICATED_FULLY") or is_granted("IS_AUTHENTICATED_REMEMBERED") %}
    {#{% if user is defined %}#}
        <span><a href="{{ path('annonce_add') }}">Poster une annonce</a></span>
        <br/>
    {% endif %}
    <div id="search">
        <input type="search" id="recherche_annonce" placeholder="Rechercher.."/><button id="button_recherche_annonce" class="btn btn-bg">Rechercher</button>
    </div>
    <br/>
    <br/>

    {% if annonces is defined %}
        <div class="list-annonces">
            {% for key,annonce in annonces %}
                <article class="annonce {% if key==0 or key is divisible by(2) %}annonce_left{% else %}annonce_right{% endif %}" {% if key==lastIndex %}style="margin-bottom: 50px;" {% endif %}>
                    <header class="{% if key==0 or key is divisible by(2) %}titre_annonce_left{% else %}titre_annonce_right{% endif %}">
                        <h3><a href="{{ path('myt_annonce_show', {'slug': annonce.slug}) }}">{{ annonce.titre }}</a></h3>
                    </header>
                    <div>
                        {% if key==0 or key is divisible by(2) %}
                            {# On vérifie qu'une image soit bien associée à l'annonce #}
                            {% if annonce.image is not null %}
                                <div class="{% if key==0 or key is divisible by(2) %}img_annonce_left{% else %}img_annonce_right{% endif %}">
                                    <img src="{{ asset(annonce.image.webPath) }}" alt="{{ annonce.image.alt }}" height="150"/>
                                </div>
                            {% endif %}
                            <div class="{% if key==0 or key is divisible by(2) %}contenu_annonce_left{% else %}contenu_annonce_right{% endif %}">
                                <p>{{ annonce.contenu|raw }}</p>
                            </div>
                        {% else %}
                            <div class="{% if key==0 or key is divisible by(2) %}contenu_annonce_left{% else %}contenu_annonce_right{% endif %}">
                                <div>{{ annonce.contenu|raw }}</div>
                            </div>
                            {# On vérifie qu'une image soit bien associée à l'annonce #}
                            {% if annonce.image is not null %}
                                <div class="{% if key==0 or key is divisible by(2) %}img_annonce_left{% else %}img_annonce_right{% endif %}">
                                    <img src="{{ asset(annonce.image.webPath) }}" alt="{{ annonce.image.alt }}" height="150"/>
                                </div>
                            {% endif %}
                        {% endif %}
                    </div>
                    {#<span>#}
                        {#<a href="{{ path('annonce_edit', {'slug': annonce.slug}) }}">Modifier</a>#}
                        {#<a href="{{ path('annonce_delete', {'id': annonce.id}) }}">Supprimer</a>#}
                    {#</span>#}
                    <footer>
                        <div class="{% if key==0 or key is divisible by(2) %}date_publication_annonce_left{% else %}date_publication_annonce_right{% endif %}">
                            <p>Publication le : {{ annonce.cdate|date('d-m-Y') }}, par <a href="{{ path('fos_user_profile_show', {'username': annonce.auteur}) }}">{{ annonce.auteur }}</a></p>
                        </div>
                    </footer>
                    {#{% if listCompetenceAnnonce|length > 0 %}#}
                    {#<div>#}
                        {#Cette annonce requiert les compétences suivantes :#}
                        {#<ul>#}
                            {#{% for annonceCompetence in listCompetenceAnnonce %}#}
                                {#<li>{{ annonceCompetence.competence.nom }} : niveau {{ annonceCompetence.niveau }}</li>#}
                            {#{% endfor %}#}
                        {#</ul>#}
                    {#</div>#}
                    {#{% endif %}#}
                </article>
            {% endfor %}
        </div>
        {% include 'MakeYourTeamBundle:Default:pagination.html.twig' %}
    {% endif %}

{% endblock %}

{#{% block %}#}