{% extends "::base.html.twig" %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <h1>Accueil</h1>

    {#{% if is_granted("IS_AUTHENTICATED_FULLY") %}#}
        <span><a href="{{ path('annonce_add') }}">Poster une annonce</a></span>
        <br/>
    {#{% endif %}#}
    <div id="search">
        <input type="search" id="recherche_annonce" placeholder="Rechercher.."/><button id="button_recherche_annonce" class="btn btn-bg">Rechercher</button>
    </div>
    <br/>
    <br/>

    {% if annonces is defined %}
        <div class="list-annonces">
            {% for annonce in annonces %}
                <article class="annonce">
                    <header>
                        <h3>{{ annonce.titre }}</h3>
                    </header>
                    <div>
                        {# On vérifie qu'une image soit bien associée à l'annonce #}
                        {% if annonce.image is not null %}
                            <div class="img_annonce">
                                <img src="{{ asset(annonce.image.webPath) }}" alt="{{ annonce.image.alt }}" height="150"/>
                            </div>
                        {% endif %}
                        <div class="contenu_annonce">
                            <p>{{ annonce.contenu }}</p>
                        </div>
                    </div>
                    {#<span>#}
                        {#<a href="{{ path('annonce_edit', {'slug': annonce.slug}) }}">Modifier</a>#}
                        {#<a href="{{ path('annonce_delete', {'id': annonce.id}) }}">Supprimer</a>#}
                    {#</span>#}
                    <footer>
                        <div class="date_publication_annonce">
                            <p>Publié le : {{ annonce.cdate|date('d-m-Y') }}, par {{ annonce.auteur }} </p>
                        </div>
                    </footer>
                    {#{% if listCompetenceAnnonce|length > 0 %}#}
                    {#<div>#}
                        {#Cette annonce requiert les compétences suivantes :#}
                        {#<ul>#}
                            {#{% for annonceCompetence in listCompetenceAnnonce %}#}
                                {#<li>{{ annonceCompetence.competence.nom }} : niveau {{ annonceCompetence.niveau }}</li>#}
                            {#{% endfor %}#}
                        {#</ul>#}
                    {#</div>#}
                    {#{% endif %}#}
                </article>
            {% endfor %}
        </div>
    {% endif %}

{% endblock %}

{#{% block %}#}