{% extends '::base.html.twig' %}

{% block title %}Ajouter une annonce{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
        '@MakeYourTeamBundle/Resources/public/css/perso/form_style.css'
    filter= 'cssrewrite'%}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock %}

{% block body %}
    {% if is_granted("IS_AUTHENTICATED_FULLY") or is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        <h1>Ajouter article</h1>
        <br/>
        <div class="formulaire">
            {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

            {# Les erreurs générales du formulaire #}
            {{ form_errors(form) }}

            <div class="form-group form-field">
                <div class="col-sm-3">
                    {{ form_label(form.titre, 'Titre de l\'annonce', {'label_attr': {'class': 'control-label form-label'}}) }}
                    {{ form_errors(form.titre) }}
                </div>
                <div class="col-sm-4">
                    {{ form_widget(form.titre, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>

            <div class="form-group form-field">
                <div class="col-sm-3">
                    {{ form_label(form.image, 'Ajouter un visuel', {'label_attr': {'class': 'control-label form-label'}}) }}
                    {{ form_errors(form.image) }}
                </div>
                <div class="col-sm-4">
                    {{ form_widget(form.image, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>

            <div class="form-group form-field">
                <div class="col-sm-3">
                    {{ form_label(form.categorie, 'Attribuer une catégorie', {'label_attr': {'class': 'control-label form-label'}}) }}
                    {{ form_errors(form.categorie) }}
                </div>
                <div class="col-sm-4">
                    {{ form_widget(form.categorie, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>

            <div class="form-group form-field">
                <div class="col-sm-3">
                    {{ form_label(form.published, 'Publier l\'annonce', {'label_attr': {'class': 'control-label form-label'}}) }}
                    {{ form_errors(form.published) }}
                </div>
                <div class="col-sm-4">
                    {{ form_widget(form.published, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>

            <div class="form-group form-field">
                <div class="col-sm-3">
                    {{ form_label(form.contenu, 'Contenu de l\'annonce', {'label_attr': {'class': 'control-label form-label'}}) }}
                    {{ form_errors(form.contenu) }}
                </div>
                <div class="col-sm-4">
                    {{ form_widget(form.contenu, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>

            {{ form_widget(form.enregistrer, {'attr': {'class': 'btn btn-primary'}}) }}

            {{ form_rest(form) }}
            {{ form_end(form) }}
        </div>
    {% else %}
        <p>Pour poster une annonce vous devez être connecté : <a href="{{ path('home') }}">Retour à l'accueil</a></p>
    {% endif %}

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
           var container = $('div#myt_makeyourteambundle_annonce_categorie');

            var addLink = $('<a href="#" id="add_categorie" class="btn btn-default">Ajouter une catégorie</a>');
            container.append(addLink);

            addLink.click(function(e){
                addCategorie(container);
                e.preventDefault();
                return false;
            });

            var index = container.find(':input').length;

            if(index == 0){
                addCategorie(container);
            } else{
                container.children('div').each(function(){
                    addDeleteLink($(this));
                });
            }

            function addCategorie(container){
                var prototype = $(container.attr('data-prototype').replace(/__name__label__/g, 'Catégorie n°' + (index+1)).replace(/__name__/g, index));

                addDeleteLink(prototype);
                container.append(prototype);
                index++;
            }

            function addDeleteLink(prototype){
                deleteLink = $('<a href="#" class="btn btn-danger">Supprimer</a> ');

                prototype.append(deleteLink);

                deleteLink.click(function(e){
                    prototype.remove();
                    e.preventDefault();
                    return false;
                });
            }

        });
    </script>

{% endblock %}
