{% extends "::base.html.twig" %}

{% block title %}Annonce{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets '@MakeYourTeamBundle/Resources/public/css/perso/annonce.css' filter= 'cssrewrite'%}
            <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock %}

{% block body %}
    <a href="{{ path('home') }}">Retour à l'accueil</a>
    {% if is_granted("IS_AUTHENTICATED_FULLY") or is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        <article>
            <header>
                <h3>{{ annonce.titre }}</h3>
            </header>

            <div>
                <div class="left">
                    <div class="img_annonce">
                        {# On vérifie qu'une image soit bien associée à l'annonce #}
                        {% if annonce.image is not null %}
                            <img src="{{ asset(annonce.image.webPath) }}" alt="{{ annonce.image.alt }}" height="150"/>
                        {% else %}
                            <img src="../../public/img/visu_non_dispo.jpg" alt="Visuel non disponible"/>
                        {% endif %}
                    </div>
                    <div class="competences">
                        {% if competences is defined %}
                            <p>Voici les compétences recherchées : </p>
                            <ul>
                                {% for competence in competences %}
                                    <li>{{ competence.getCompetence.getNom }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>
                </div>
                <div class="contenu_annonce">
                    <p>{{ annonce.contenu|raw }}</p>
                </div>

            </div>

            <footer>
                <div class="date_publication_annonce">
                    <p>Publié le : {{ annonce.cdate|date('d-m-Y') }}, par {{ annonce.auteur }} </p>
                </div>
            </footer>

        </article>
    {% else %}
        <p>Pour accéder à l'annonce vous devez vous connecter</p>
        <p><a href="">S'inscire</a>&nbsp;&nbsp;&nbsp;<a href="">Se connecter</a>&nbsp;&nbsp;&nbsp;<a href="{{ path('home') }}">Retour à l'accueil</a></p>
    {% endif %}
{% endblock %}